<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="Outer_helper_class_of_spring" class="com.lossly.Outer_helper_class_of_spring">
<property name="outputrr" ref="csvOutputgenerator"/>
<property name="outputrr1" ref="JsonOutputgenerator"/>
</bean>

<bean id="csvOutputgenerator" class="com.lossly.csvOutputgenerator"/>
<bean id="JsonOutputgenerator" class="com.lossly.JsonOutputgenerator"/>

</beans>